@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lora:wght@600&display=swap');

*{
    box-sizing: border-box;
}
span{
    color: red;
}
body{
    background-image: url(laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow:hidden;
}
h1{
    font-weight: 100;
    font-size: 50px;
    margin:-150px 0 40px ;
}
.countdown{
    display: flex;
    transform: scale(2);
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    justify-content: center;
}
.time h2{
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 5px;
    background-color: rgb(19, 156, 156);
}